body{
    font-family: sans-serif;
}

a:link{
    text-decoration: none;
    background-color: rgb(38, 70, 83);
    color: white;

}
a:link div{
    display: block;
    border: 1px solid black;
    color: black;
    width: 100px;
    height: 125px;
    margin-top: 20px;
}
a:link :visited{
    
}