body {
  font-family: sans-serif;
}
body #link1:link {
  color: white;
  background-color: rgb(30, 70, 83);
  text-decoration: none;
}
body #link1:visited {
  color: black;
  background-color: orange;
}
body div {
  margin-top: 20px;
  border: solid 1px;
  width: 125px;
  height: 125px;
  display: block;
}
  body #link1:visited + div{
  color: green;
}
