a:link{ /*normal unvisited link */
    background-color: yellow;
    text-decoration: none;
    border: solid black 1px;
    padding: 1px;
    }
a:visited{ /* link user has visited */

}
a:hover{ /* link when user moves it */

}
a:active{ /* link becomes active (wth does it mean) */

}
